.wp-block-wazframe-grid {
  --wf-grid--space: var(--wp--style--block-gap, 1.5rem);
  --wf--content-width: 250px;
  display: grid;
  grid-gap: var(--wf-grid--space);

  @supports( width: min(var(--measure), 100%)) {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--wf--content-width), 100%), 1fr));
  }
}