.wp-block-wazframe-center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--wf--content-width, 65ch);
  padding-inline-start: var(--wf-center--space, 1rem);
  padding-inline-end: var(--wf-center--space, 1rem);

  &.and-text-center {
    text-align: center;
  }

  &.intrinsic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.wf-content-wide {
    --wf--content-width: 85rem;
  }

  &.wf-content-full {
    max-inline-size: none;
  }

  /* When we have a zero value, setting padding: 0; directly means
   * that setting a default or custom value inherits to children,
   * while the 0 does not.
   */
  &.wf-space-none {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  /* We will see if we want to change these values to be hard
   * padding values as well, for now experiment with med / lg
   * inheriting down the tree.
   */
  &.wf-space-small {
    --wf-center--space: var(--wf--size-scale--m1, 0.75rem);
  }

  &.wf-space-medium {
    --wf-center--space: var(--wf--size-scale--2, 1.5rem);
  }

  &.wf-space-large {
    --wf-center--space: var(--wf--size-scale--3, 2rem);
  }
}