.wp-block-wazframe-center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--wf--content-width, 65ch);
  padding-inline-start: var(--wf-center--space, 1rem);
  padding-inline-end: var(--wf-center--space, 1rem);

  &.and-text-center {
    text-align: center;
  }

  &.intrinsic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.is-style-size-wide {
    --wf--content-width: 85rem;
  }

  &.is-style-size-full {
    --wf--content-width: none;
  }
}