.wp-block-wazframe-sidebar {
  --wf-sidebar--space: var(--wp--style--block-gap, 1.5rem);
  --wf--flex-basis: 'notacceptablevalue';
  --wf--content-width: 50%;
  --wf--align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: var(--wf-sidebar--space);
  align-items: var(--wf--align-items);

  &.sidebar-left > :first-child {
    flex-basis: var(--wf--flex-basis);
    flex-grow: 1;
  }

  &.sidebar-left > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--wf--content-width);
  }

  &.sidebar-right > :last-child {
    flex-basis: var(--wf--flex-basis);
    flex-grow: 1;
  }

  &.sidebar-right > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--wf--content-width);
  }
}

