.wp-block-wazframe-cluster {
  --wf-cluster--space: var(--wp--style--block-gap, 1.5rem);
  --wf--justify-content: flex-start;
  --wf--align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: var(--wf-cluster--space);
  justify-content: var(--wf--justify-content);
  align-items: var(--wf--align-items);
}
