.wp-block-wazframe-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    margin-block: 0;
  }

  /* The space property here should match default line-height */
  > * + * {
    margin-block-start: var(--wf-stack--space, 1.5rem);
  }

  :only-child {
    block-size: 100%;
  }

  // recursive is a toggle-able option, which we'd like regardless of size of margin-top, so not a block style.
  &.recursive * {
    margin-block: 0;
  }

  &.recursive * + * {
    margin-block-start: var(--wf-stack--space, 1.5rem);
  }

  /* When we have a zero value, setting padding: 0; directly means
   * that setting a default or custom value inherits to children,
   * while the 0 does not.
   */
  &.wf-space-none > * + * {
    margin-block-start: 0;
  }

  &.recursive.wf-space-none * + * {
    margin-block-start: 0;
  }

  /* We will see if we want to change these values to be hard
   * padding values as well, for now experiment with med / lg
   * inheriting down the tree.
   */
  &.wf-space-small {
    --wf-stack--space: var(--wf--size-scale--m1, 1rem);
  }

  &.wf-space-medium {
    --wf-stack--space: var(--wf--size-scale--2, 2rem);
  }

  &.wf-space-large {
    --wf-stack--space: var(--wf--size-scale--3, 3rem);
  }
}

