.wp-block-wazframe-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    margin-block: 0;
  }

  /* The space property here should match default line-height */
  > * + * {
    margin-block-start: var(--wf-stack--space, 1.5rem);
  }

  :only-child {
    block-size: 100%;
  }

  // recursive is a toggle-able option, which we'd like regardless of size of margin-top, so not a block style.
  &.recursive * {
    margin-block: 0;
  }

  &.recursive * + * {
    margin-block-start: var(--wf-stack--space, 1.5rem);
  }

  &.is-style-space-none {
    --wf-stack--space: 0;
  }

  &.is-style-space-small {
    --wf-stack--space: 0.75rem;
  }

  /*
   * Medium duplicates the 'default' value for the Stack, but if a stack
   * is nested inside another stack, and we want to go back to 'default'
   * for one of the children, it doesn't work without overriding the CSS
   * Instead, we'll just make a 'medium' style to override the parent.
   */
  &.is-style-space-medium {
    --wf-stack--space: 1.5rem;
  }

  &.is-style-space-large {
    --wf-stack--space: 3rem;
  }
}

