.wp-block-wazframe-stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    margin-block: 0;
  }

  /* The space property here should match default line-height */
  > * + * {
    margin-block-start: var(--space);
  }

  :only-child {
    block-size: 100%;
  }

  &.recursive * {
    margin-block: 0;
  }

  &.recursive * + * {
    margin-block-start: var(--space);
  }
}

