.wp-block-wazframe-switcher {
  --wf-switcher--space: var(--wp--style--block-gap, 1.5rem);
  --wf--flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: var(--wf-switcher--space);

  > * {
    flex-grow: var(--wf--flex-grow);
    flex-basis: calc((var(--wf--content-width, 65ch) - 100%) * 999);
  }
}